body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-title {
  color: white;

  font-size: 25px;
}

.test-container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submit-btn {
  margin-top: 25px;
}

.result-score {
  font-size: 25px;
  margin-top: 15px;

}
